
body{
  background-color: #fff;
}
.cong-head h1{
  color: #fff;
  margin-top: 5%;
 
  
}
.mdv-back-coco{
  background-color: #0024E2;
}
.cong-head p{
  color: #fff;
  font-size: 20px;
}
.cong-head img{
  margin-top: 6%;
}
.cong-head button{
  background-color: #527DE9;
  font-size: 23px;
  color: #fff;
  width: 125px;
  margin-top: 6%;
  border: 1px solid #527DE9;
  border-radius: 29px;

}
.cong-head button:hover{
  color: #fff;
}
.cocotable td{
  color: #fff;
  padding: 5px;
}
.product-heading{
  background-color: #527DE9;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  padding-bottom: 25px;

}
.product-heading h1{
  color: #fff;
  font-size: 21px;
  padding-top: 20px;
  padding-bottom: 8px;
}
.product-date{
  background-color: #fff;
  height: 140px;
  box-shadow: 1px 1px 7px 0px;
  border-radius: 9px;
}
.product-date h3{
  padding: 10px;
  font-weight: 600;
  color: #545050;
  line-height: 43px;
}
.farm{
  background-color: #fff;
  height: 140px;
  box-shadow: 1px 1px 7px 0px;
  border-radius: 9px;
}
.subs{
  margin-top: 19px;
  padding-top: 7px;
  padding-bottom: 10px;
  background-color: #527DE9;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}
.subs a{
  color: #fff;
}
.para{
  color: #fff;
  padding: 10px;
}
.detail-menu{
  margin-top: 20px;
}
.detail-menu img{
 width: 100%;
 scroll-margin-top: 20px;
}
.detail-menu button{
  width: 200px;
    background-color: #527DE9;
    margin-top: 18px;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #527DE9;
    margin-bottom: 25px;
}
.farm h3{
  color: blue;
  padding-top: 12px;
  font-size: 20px;
}
.prdbtn button{
  width: 130px;
  background-color: #527DE9;
  margin-top: 18px;
  color: #fff;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #527DE9;
  margin-bottom: 50px;
}

.nav-logoheight{
  margin: 0 auto;
  height: 100px;
  
}
.coconav {
  border-bottom: 1px dotted #0024E2;
}
/* -----------------------userdetails------------------------ */
.main{
  margin-top: 36%;
}
.userdata{
  background-color: #fff;
    height: 51px;
    padding: 12px;
    width: 90%;
    margin-left: 5%;
    border-radius: 14px;
    margin-top: 20px;
    box-shadow: 1px 2px 4px 0px;
    font-size: 19px;
    color: grey;
}
.userdata i{
  color: #527DE9;
  font-size: 25px;
}
.addtocart{
  background-color: #527DE9;
  width: 200px;
  padding: 12px;
  border-radius: 22px;
  font-size: 19px;
  margin-top: 40%;
  color:#fff;
  margin-bottom: 30px;
}
.mdv-head h1{
  color:#0024E2;
  font-weight: 600;
  padding-top: 40px;
}
.mdv-head p{
  font-size: 20px;
  color: grey;
}
.mdv-icons img{
  width: 100%;
  margin-top: 100px;
}
.prodexp{
  background-color: #0024E2;
  height: 95px;
  padding: 13px;
  font-size: 20px;
  text-align: center;
  color: #fff;
  margin-top: 87px;
}

/* -----------------------userdetails end------------------------ */


@media only screen and (max-width: 768px) {
  .cong-head h1{
    color: #fff;
    padding-top: 36%;
  }
  
  .cong-head img{
    margin-top: 50px;
  }
  .cong-head button{
    background-color: #268fef;
    font-size: 23px;
    color: #fff;
    width: 125px;
    margin-top: 20%;
    margin-bottom: 40px;
  }
}
